ConnectionStrings__Default=Host=;Port=5432;Database=postgres;Username=;Password=;SSL Mode=Require;Trust Server Certificate=true

Jwt__Key=

Email__SmtpHost=smtp.gmail.com
Email__SmtpPort=587
Email__From=
Email__Password=
Email__AdminEmail=

Supabase__ProjectUrl=
Supabase__AnonKey=
Supabase__ServiceRoleKey=
Supabase__StorageBucket=
Supabase__DatabaseUrl=

Cors__AllowedOrigins__0=https://your-production-domain.bg
